.blob_container {
  display: inline-grid;
  width: 100%;
  height: 40vw;
  place-items: center;
  position: relative;
}

.blob_content {
  display: inline-grid;
  width: 30vw;
  height: 40vw;
  place-items: center;
  position: absolute;
}

.blob_title {
  color: white;
}

.blob_text {
  font-size: 2.5vh;
  color: white;
}

.blob_text a {
  text-decoration: underline;
  font-size: 2.5vh;
  color: white;
}

.blob_text a:hover {
  color: black;
}


@media screen and (max-width: 170vh) {
  .blob_container, .blob_content {
    width: 100vw;
    height: 30vh;
  }
  .blob_content .title {
    width: 100vw;
    color: var(--blue) !important
  }
  .blob_title {
    color: var(--blue) !important;
  }
}
