::-webkit-scrollbar {
  width: .8vw;
}

::-webkit-scrollbar-track {
  background:  linear-gradient(45deg,
    var(--blue) 0%,
    var(--green) 100%
    )
}

::-webkit-scrollbar-thumb {
  background: transparent;
  opacity: 0;
  box-shadow: 0px 0px 0px 100000vh white;
}
